@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@1,100;1,300;1,400&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap'); */
body {
  padding: 0;
  margin: 0;
}
.navbar {
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  background-image: url(mesh.png);
}
.container-fluid .navbar-brand {
  text-transform: uppercase;
  font-size: 30px;
  padding-left: 30px;
  font-family: Roboto, sans-serif;
}
.navbar-nav a {
  margin-left: 20px;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}
.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.img-1 {
  background-image: url(mesh.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90.5vh;
  margin-top: 70px;
}
.img-saif {
  height: 400px;
  width: 300px;
  position: relative;
  top: 20%;
  right: -70%;
  border-radius: 20px;
  box-shadow: rgba(7, 7, 7, 0.5) 0px 60px 40px -7px;
  z-index: 2;
}
.details {
  position: relative;
  top: -270px;
  left: 100px;
  width: 60%;
  z-index: 2;
}
.heading-hi {
  font-size: 100px;
  font-family: Roboto, sans-serif;
}
.heading-emilis {
  font-size: 60px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}
.paragraph {
  font-size: 18px;
  line-height: 20px;
  width: 500px;
  color: black;
  font-family: Roboto, sans-serif;
}
#button-my-profile a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 5px 30px;
  font-family: Roboto, sans-serif;
}
.social-media {
  position: fixed;
  top: 35%;
  left: 96.2%;
  z-index: 2;
  height: 35%;
  background-color: rgb(0, 0, 0);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding: 15px 5px;
}
.social-media .fa-brands {
  display: flex;
  padding-left: 10px;
  font-size: 40px;
  padding-bottom: 15px;
  color: rgb(6, 221, 250);
  text-decoration: none;
}
/* ----------- Skill and education ------------- */
#SkillEducation {
  background-color: aqua;
}
.paddi-100 {
  margin: 0 300px;
}
.skill-education {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin-bottom: 50px;
  font-family: Roboto, sans-serif;
}
.container-skill {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border-radius: 40px;
  margin-bottom: 50px;
}
h2 {
  font-size: 30px;
  font-family: Roboto, sans-serif;
}
p {
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

/* ------- resume ---------- */

.container-my-cv img {
  width: 60%;
  margin: 40px 300px;
}
#cv-back {
  background-color: aquamarine;
}
